CONFIG VCCAUX = "3.3";
NET "*" IOSTANDARD = LVCMOS33;

NET gray<0> LOC = "K13";
NET gray<1> LOC = "K14";
NET gray<2> LOC = "J13";
NET gray<3> LOC = "J14";

NET seg<0> LOC = "E14";
NET seg<1> LOC = "G13";
NET seg<2> LOC = "N15";
NET seg<3> LOC = "P15";
NET seg<4> LOC = "R16";
NET seg<5> LOC = "F13";
NET seg<6> LOC = "N16";
